{% extends 'base.html.twig' %}
{% block title %}Infos utiles{% endblock %}
{% block content %}

    <section class="brand_section layout_padding">
        <div class="container">
            <div class="heading_container" style="margin-top: -100px">
                <h2 >
                    Questions fréquentes
                </h2>
            </div>
            <div class="brand_container layout_padding2" Align=Left>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Comment rechercher un covoiturage ? </strong></h5> <BR>  <p style="margin-left: -15px">
                            Sur la page d’accueil du site :
                            <br>
                            - Indiquez dans la barre de recherche votre lieu de départ et d’arrivée<br>
                            - Sélectionnez l’adresse ou la ville dans la liste proposée<br>
                            - Puis cliquez sur « rechercher ».<br>
                            Vous trouverez toutes les annonces relatives à votre recherche.
                        </p>
                    </Div>

                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Comment publier une annonce ? </strong></h5> <BR>  <p style="margin-left: -15px">
                            Une fois inscrit sur le site c’est simple : cliquez sur publier mon annonce et suivez les instructions !
                        </p>
                    </Div>
                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Est-ce que votre service est gratuit et sans commission ?</strong></h5> <BR>  <p style="margin-left: -15px">
                            Oui, c’est totalement gratuit ! Il n’y a pas de frais cachés : l’inscription et la mise en relation sont gratuites. C’est vous qui contactez directement les covoitureurs et qui organisez le covoiturage. Le site n’intervient pas.
                        </p>
                    </Div>
                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Comment puis-je payer mon covoiturage ?</strong></h5> <BR>  <p style="margin-left: -15px">
                            Aucun paiement ne se fait en ligne, le règlement du trajet se fait de la main à la main. Nous vous recommandons de payer le trajet au moment du départ.
                        </p>
                    </Div>
                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Est-ce que votre service de covoiturage est sécurisé ?</strong></h5> <BR>  <p style="margin-left: -15px">
                            Le site est basé sur le principe d’auto-régulation de la communauté :
                            <br>
                            - Suppression par notre équipe des comptes dont les annonces sont déclarées suspectes ou si le comportement de l’usager est anormal.<br>
                            - Prochainement : un système d’avis entre covoitureurs


                        </p>
                    </Div>
                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Dois-je m’inscrire ?</strong></h5> <BR>  <p style="margin-left: -15px">
                            Vous pouvez découvrir toutes les annonces de covoiturage sans vous inscrire. Ensuite, pour obtenir les coordonnées d’un covoitureur ou pour publier votre annonce vous devrez créer un compte sur notre site internet. C’est une façon simple de sécuriser l’accès aux données personnelles de nos inscrits.
                        </p>
                    </Div>
                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Assurance : conducteurs, que faire avant de covoiturer la première fois ?</strong></h5> <BR>  <p style="margin-left: -15px">
                            Sur un trajet domicile-travail, pour vos vacances ou vos sorties : avant de covoiturer une première fois :
                            <br>
                            - Prévenez votre assureur que vous pratiquez le covoiturage. Appelez-le ou envoyez-lui un courrier.<br>
                            - Faites une déclaration à votre assureur en cas de prêt du véhicule à votre covoitureur.
                        </p>
                    </Div>
                </div>
                <div class="box">
                    <Div Align=Left> <h5 style="margin-top: -50px; color:#f9c204"> <strong>Qui êtes-vous ?</strong></h5> <BR>
                        <p style="margin-left: -15px">
                            Covoit c’est une application créée en 2022 par des informaticiennes adeptent du covoiturage domicile-travail. Nous sommes désormais une sympathique équipe  de 4 personnes !
                        </p>
                    </Div>
                </div>

            </div>

        </div>
        </div>
    </section>
{% endblock %}