{% extends 'base.html.twig' %}
{% block title %}Creé un compte{% endblock %}
{% block content %}
    <div class="container ">
        <div class="heading_container">
            <h2 class="">
                Créer un compte
            </h2>
        </div>
    </div>
    <div style="margin-left: 180px;width: 30% ">
        {{ form(form) }}
    </div>
    <div class="col-md-6">
        <div class="img-box">
            <img src="assets/images/image1.png" style="width:700px ; height: 500px; margin-left: 700px; margin-top: -1100px">
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>


{% endblock %}
