<form method="post" action="{{ path('AnnonceDelete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-lg btn-primary" type="submit" >Supprimer</button>
</form>
